.terminal-content {
    background-color: #13111b;
    border-radius: 4px;
    padding: 12px;
    height: calc(100% - 40px);
    overflow: auto;
  }
  
  .output-text {
    color: #a9adc1;
    width: 350px;
    font-family: monospace;
    white-space: pre-wrap;
    word-break: break-all;
    margin: 0;
    font-size: 14px;
    line-height: 1.5;
  }