.h-screen {
    width: 1300px;
    height: 165px;
    margin-top: 0;
}

.editor-toolbar {
    padding: 8px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
  }
  
  
.save-button {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 4px;
  width: 150px;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  position: relative;
  fill: rgb(155, 153, 153); 
}

.save-icon {
  height: 14px;
  width: 14px;
}

.save-icon {
  transform: scale(1.4);
  transition: 200ms linear;
}

.save-button:hover > .save-icon {
  transform: scale(1.7);
}

.save-button:hover > .save-icon path {
  fill: #fff;
  cursor: pointer;
}

.save-button:hover::after {
  visibility: visible;
  opacity: 1;
  top: -100%;
}

.save-button:hover {
  background-color: white; 
  color: black;
}

.save-text {
  font-size: 16px;
}
