.h-screen {
    width: 1300px;
    height: 165px;
    margin-top: 0;
}

.editor-toolbar {
    padding: 8px;
    background-color: #1e1e1e;
    border-bottom: 1px solid #333;
  }
  
  .save-button {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 6px 14px;
    width: 100px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .save-button:hover {
    background-color: #45a049;
  }